.emoji_tab_mysctickers{
    padding: 9px;
    width: 18px;
    height: 18px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}
/*.my-smile{*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*padding: 5px 4px;*/
    /*margin-right: 1px;*/
    /*cursor: pointer;*/
/*}*/
/*.my-smile:hover{*/
    /*background: #cecece;*/
    /*border-radius: 15px;*/
/*}*/